/* Styled by DonQuaya Brown */

.project-banner{
    overflow: hidden;
    position: relative;
    height: 100vh;
    right: 0;
    width: 100%;
    /* background: url('./bg.png') no-repeat; */
    background-position: center;
    background-size: cover;
    filter: brightness(105%);
    transition: 0.5s;
    /* display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row; */

    background: linear-gradient(blue,black);
     
}

/* .project-banner.active{
    right: 300px;
}

.project-banner::before{
    position: relative;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}



.project-banner .pjlanding-title{
    z-index: 10;
    transform: translateY(-20%);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .project-banner .pjlanding-title h1{
    color: black;
    font-size: 8em;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.project-banner .pjlanding-title p{
    color: aqua;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.banner .cloud{
    position: absolute;
    left: -50px;
    pointer-events: none;
}

.project-banner .cloud img{
    transform: scale(0.1);
    animation: cloud;
    pointer-events: none;
} */


/* .project-banner .boat{
    position: absolute;
    bottom: 0;
    left: 70vw;
    pointer-events: none;
}

.project-banner .boat img{
    transform: scale(0.8) rotateY(30deg);
    animation: boat 10s linear infinite;
    pointer-events: none;
} */

.project-banner .bottom-bar{
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 22vh;
    background: linear-gradient(to top,black, black, black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-banner .bottom-bar .bottom-item{
    padding-top: 25px;
    transition: 0.5s ease-in-out;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
}

.project-banner .bottom-bar .bottom-item:not(:first-child)::before{
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    width: 1px;
    height: 80%;
    background: white;
    opacity: 0.6s;
}

.project-banner .bottom-bar .bottom-item::after{
    content: '';
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 80%;
    height: 1px;
    background: #3685fb;
    opacity: 0.6;
}

.project-banner .bottom-bar .bottom-item .hover-bar{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: blue;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

.project-banner .bottom-bar .bottom-item .image-box{
    transition: 0.5s ease-in-out;
    width: 100%;
    height: 55%;
}

.project-banner .bottom-bar .bottom-item .image-box img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.5s;
}

.project-banner .bottom-bar .bottom-item:hover .hover-bar{
    opacity: 1;
    visibility: visible;
}

.project-banner .bottom-bar .bottom-item:hover{
    background: black;
}

.project-banner .bottom-bar .bottom-item:hover .image-box img{
    opacity: 1;
}

.project-banner .bottom-bar .bottom-item p{
    transition: 0.5s ease-in-out;
    color: white;
    opacity: 0.7;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.project-banner .bottom-bar .bottom-item a{
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.project-banner .bottom-bar .bottom-item:hover a{
    opacity: 1;
    visibility: visible;
}

.project-banner .bottom-bar .bottom-item:hover p{
    transform: translateY(-50%);
    opacity: 1;
}

.project-banner .bottom-bar .bottom-item:hover .image-box{
    transform: translateY(-10%);
}



.pjl-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");


/* img {
  width: 100%;
  display: block;
} */


/* header {
  background-color: var(--secondary-color);
} */

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  top: 250px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  /* color: var(--text-dark); */
  color: white;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}




@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
    margin-left: 75px;
    margin-top: 65px;
    border: 0.5rem solid black;
  }

  .header__image img:nth-child(2) {
  visibility: hidden;
  }
}

@media (width < 900px) {
  

.header__container {
    grid-template-columns: repeat(1, 1fr);
}
.header__image {
    min-height: 500px;
}
.header__content h1{
    margin-top: -300px;
}

.header__content p{
    margin-top: -250px;
}

.header__image{
    top: -105px;
}

.project-banner .bottom-bar .bottom-item p{
    color: #3685fb;
    font-size: 15px;
    margin-left: 10px;
}


}



/* Styled by DonQuaya Brown */