
  
  .landing-content h3 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 50px;
  }
  .landing-content h1 {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-top: -10px;
  }
  .landing-content {
    padding-top: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    
  }
  .landing-img {
    /* width: 47%; */
    width: 400px;
    /* margin-top: -150px; */
    background: transparent;
    animation: planetAn 20s linear infinite;
  }

  .landing-img img{
    width: 300px;
  }
  .landing-btn {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    margin-top: -550px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
  }
  .landing-btn:hover {
    background-color: white;
    color: black;
  }
  
  .landing-btns{
    margin-top: 50px;
    display: flex; 
    gap: 10px;
  }
  

  .resume-btn{
    border: 2px solid #0553fc;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 130px;
    margin-top: -550px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
  }

  .resume-btn:hover{
    background: #0553fc;
    color: yellow;
  }

  .about-btn{
    border: 2px solid #0553fc;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    height: 50px;
    width: 130px;
    margin-top: -550px;
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
  }

  .about-btn,
.resume-btn {
  margin: 5px; /* Optional: Adds spacing around each button */
}

h1 span{
  color: #0553fc;
}



@keyframes planetAn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bottomIn {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (width < 900px){
  .landing-content h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .landing-content h1{
    font-size: 25px;
  }
}