.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}

.contact .contact-content{
    max-width: 800px;
    text-align: center;
}

.contact .contact-content h2{
    font-size: 3em;
    color: #0553fc;
    font-weight: 500;
    /* margin-top: -7000px; */
    font-family: "Rubik Dirt", serif;
}

.contact .contact-content p{
    color: white;
    font-size: 1.1em;
    font-weight: 300;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: transparent;
    margin-top: 30px;
    border-radius: 10px;
}

.contact-container .contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .contact-box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.contact-container .contact-info .contact-box .contact-icon{
    position: relative;
    min-height: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from 27.5deg, #0553fc 0%, #0553fc 10%, transparent 10%, transparent 50%);
}

.contact-container .contact-info .contact-box .contact-icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #0553fc 0%, #0553fc, transparent 10%, transparent 50%);
}

.contact-container .contact-info .contact-box .contact-icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}

.contact-container .contact-info .contact-box .contact-icon b{
    position: absolute;
    inset: 8px;
    background: rgb(43, 183, 12);
    z-index: 2;
}

.contact-container .contact-info .contact-box .contact-icon i{
    position: relative;
    z-index: 1000;
    color: rgb(255, 255, 255);
    font-size: 1.25em;
}

.contact-container .contact-info .contact-box .contact-icon i:hover{
    color: red;
}

.contact-container .contact-info .contact-box .contact-text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px ;
    font-size: 1.1em;
    color: lime;
    font-weight: 300;
}

.contact-container .contact-info .contact-box .contact-text h3{
    font-weight: 500;
    color: #0553fc;
}

.contact-container .contact-info .connect-text{
    color: rgb(255, 255, 255);
    /* margin-top: 50px; */
    font-weight: 500;
    border-left: 50px solid #0553fc;
    padding-left: 10px;
    line-height: 1em;
    display: flex;
    justify-content: start;
    align-self: start;
}

.contact-container .contact-info .connect-social{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.contact-container .contact-info .connect-social li{
    list-style: none;
}

.contact-container .contact-info .connect-social li a{
    color: limegreen;
    font-size: 1.5em;
    transition: 0.25s;
}

.contact-container .contact-info .connect-social li a:hover{
    color: rgb(225, 0, 255);
    filter: drop-shadow(0 0 5px yellow);
}

.contact-container .contact-picture img{
  width: 100%;
  
}

.contact-container .contact-picture{
    border: 3px solid transparent;
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), white 0%, #0553fc, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
    
}

.contact-container .contact-picture::before{
 content: '';
 position: absolute; 
 inset: 0;  
 background: repeating-conic-gradient(from var(--a), #0553fc 0%, #0553fc, transparent 10%, transparent 50%);
 animation: animate 6s linear infinite;
 animation-delay: -1.5s;
}

.contact-container .contact-picture::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid black;
    background: #0553fc;
}


@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}


.contact-container .contact-picture img{
    position: relative;
    z-index: 10;
}

@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .contact-container{
        flex-direction: column;
    }
    .contact-container .contact-info,
    .contact-container .contact-picture{
        width: 100%;
    } 
    .contact-container .contact-picture{
        padding: 30px;
    }
    .contact-container .contact-picture img{
      height: 200px;
      width: 200px;
    }
    .contact-picture img {
        content: url('https://i.ibb.co/YcYdM6M/IMG-1170.jpg'); 
      }
      
}