header{
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  padding: 24px;
  color: white;
  font-family: "Rubik Dirt", serif;
}




/* testing */



.skills-container { padding-inline: 15px; }

/* .section { padding-block: var(--section-padding); } */


.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar { height: 10px; }

.has-scrollbar::-webkit-scrollbar-track {
  background: black;
  border-radius: 20px;
  outline: 2px solid #0553fc;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #0553fc;
  border: 2px solid black;
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }




.skills-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 45px 25px;
}




@media (min-width: 575px) {
  .skills-container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar > li { min-width: calc(50% - 12.5px); }

}















/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  


  /**
   * REUSED STYLE
   */

  /* .container { max-width: 720px; } */






  /* .special-banner .banner-title { --fs-4: 2.2rem; }

  .special-product .has-scrollbar > li { min-width: 100%; }

  .special .container {
    display: flex;
    gap: 25px;
  } */



}


@media (min-width: 992px) {
  /* .container { max-width: 970px; } */

  .has-scrollbar > li { min-width: calc(33.33% - 16.66px); }
}





/**
 * responsive for larger than 1200px screen
 */

/* @media (min-width: 1200px) {

} */


  /* .container { max-width: 1280px; } */

