.p-slider{
    height: 100vh;
    /* margin-top: 200px; */
    /* width: 100vw; */
    overflow: hidden;
    position: relative;
    background-color: red;
  }
  .p-slider .p-list .p-item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
  }
  .p-slider .p-list .p-item img{
    width: 400px;
    height: 300px;
    margin-left: 900px;
    margin-top: 350px;
  }
  .p-slider .p-list .p-item .p-content{
    position: absolute;
    top: 40%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
  }
  
  .p-slider .p-list .p-item .p-content .p-title,
  .slider .list .item .content .type{
      font-size: 5em;
      font-weight: bold;
      line-height: 1.3em;
  }
  .p-slider .p-list .p-item .p-type{
      color: #0026fdcb;
  }

  
 
  @media screen and (max-width: 678px) {
    .p-slider .p-list .p-item .p-content{
        padding-right: 0;
    }
    .p-slider .p-list .p-item .p-content .p-title{
        font-size: 50px;
        margin-top: 150px;
    }
    .p-slider .p-list .p-item img {
      width: 100%; /* Adjust width to fit container */
      height: auto; /* Maintain aspect ratio */
      margin: 0 auto; /* Center image horizontally */
      display: block; /* Ensure proper centering */
      margin-top: 150px;
    }
    
  }

