.portfolio-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-items:last-child{
    margin-bottom: 0;
}

.portfolio-image{
    width: 50rem;
    flex: 1;
}

.portfolio-image img{
    width: 30rem;
}

.portfolio-description{
    flex: 1;
}

.portfolio-description h1{
   font-size: 3rem;
   font-weight: 300;
   opacity: 0.3;
   margin: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}


.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #0553fc;
}


.has-margin-right{
    margin-right: 5rem;
}




.section-heading{
    text-align: center;
    margin-top: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    font-family: "Rubik Dirt", serif;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0553fc;
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}


@media screen and (max-width: 678px) {
    .portfolio-image img{
        width: 300px;
    }
    .portfolio-description {
        font-size: 30px;
    }
    .portfolio-description h6{
        font-size: 20px;
    }

    .portfolio-description p{
        font-size: 20px;
    }
    .portfolio-container .portfolio-description h1{
        font-size: 10px;
    }
    .portfolio-container .portfolio-description h1{
        font-size: 10px;
    }
    .has-margin-right{
        margin-right: 2px;
    }
  }


  @media screen and (max-width: 768px) {
    .portfolio-items {
      flex-direction: column;
      text-align: center;
      overflow: hidden;
    }
  
    .has-margin-right {
      margin-right: 0;
    }
  
    .portfolio-description {
      padding: 0;
    }

    .portfolio-description p{
        font-size: 15px;
        
    }
  
    .section-heading h1 {
      font-size: 1.5rem;
    }
  
    .section-heading h6 {
      font-size: 0.9rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section-heading h1 {
      font-size: 1.2rem;
    }
  
    .section-heading h6 {
      font-size: 0.8rem;
    }
  
    .cta {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  }
  