.WH{
    background: black;
    margin-top: 30px;
    width: 85%;
    margin-left: auto; /* Center the section */
    margin-right: auto; /* Center the section */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; 
}

.WH header{
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px;
    color: white;
    font-family: "Rubik Dirt", serif;
}

.WH .WH-content{
    padding: 40px 0;
}

.WH-content{
    border: 1px solid #0553fc;
    margin-bottom: 20px;
    border-radius: 5px;
}



.WH .WH-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WH-details .WH-text{
    width: 50%;
}

.WH-content h3{
    color: #0553fc;
}

.WH-details p{
    color: white;
    text-align: center;
}

.WH .WH-details .WH-experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.WH-details .WH-experience .num{
    color: #0553fc;
    font-size: 80px;
}


.WH-details .WH-experience .WH-exp{
    color: white;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.WH-details .WH-boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.WH-details .WH-boxes img{
    width: 300px;
}

.WH-details .WH-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}

.WH-details .WH-boxes .WH-topic{
    font-size: 20px;
    color: white;
}

.WH-details .WH-boxes .WH-per{
    font-size: 60px;
    color: #0553fc;
}

.WH-content .WH-topic{
    color: white;
    font-size: 34px;
}

@media (max-width: 1000px){
    .WH-boxes .WH-box{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 900px){

}

@media (max-width: 968px){
    .WH .WH-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .WH-details .WH-text{
        width: 100%;
        margin-bottom: 50px;
    }

    .WH-details  .WH-boxes{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .WH-details .WH-boxes img{
        width: 250px;
    }
}

/* @media (max-width: 678px){
    .skills-card {
      background-size: contain; 
      width: 150px;
    }
  } */